@media screen and (max-width: 700px) {
	header {
		height: 398px;
	}

	header h3,
	header h2,
	header p {
		align-self: flex-start;
	}

	footer {
		height: 157px;
	}

	footer p:last-child {
		margin-bottom: 36px;
	}

	#main-wrapper {
		padding-left: 16px;
		padding-right: 16px;
	}

	nav ul {
		grid-template-columns: repeat(2, 160px);
		gap: 20px;
		margin-top: 50px;
		margin-bottom: 60px;
	}

	#form-section {
		flex-direction: column;
		gap: 30px;
	}

	#form-title-wrapper img {
		display: inline-block;
	}

	#form-section form {
		width: 100%;
	}

	.splitter {
		width: 100vw;
	}

	#selection-section h2 {
		margin-bottom: 23px;
	}

	#card-container {
		flex-direction: column;
		width: 100%;
		gap: 30px;
	}

	.card {
		flex-direction: row;
		width: 100%;
		gap: 23px;
	}

	.card img {
		width: 171px;
		height: 131px;
	}

	.card__info {
		flex: 1;
	}

	.card__info h4 {
		margin-bottom: 9px;
	}

	.card-info .old-price {
		margin-bottom: 4px;
	}

	.card__info .price {
		margin-bottom: 4px;
	}

	.card__info .description {
		display: none;
	}

	.card__info .installment {
		margin-bottom: 7px;
	}

	.card__info button {
		width: 100%;
	}

	#share-section h2 {
		margin-bottom: 28px;
	}

	#share-section form {
		width: 100%;
		margin-top: 28px;
	}

	#share-section button {
		margin-top: 42px;
	}

	#share-info-container {
		flex-direction: column;
		width: 100%;
		gap: 20px;
	}

	#share-info-container input {
		width: 100%;
		margin-bottom: 0;
	}
}