header {
	height: 198px;
	justify-content: flex-start;
	margin-bottom: 6px;
}

header h3 {
	margin-top: 31px;
}

header h2 {
	margin-top: 5px;
	margin-bottom: 0;
}

header p {
	text-align: center;
	margin-top: 9px;
}

footer {
	height: 158px;
}

footer p:last-child {
	margin-bottom: 29px;
}

#main-wrapper {
	padding: 0 21px;
	max-width: 600px;
	margin: auto;
}

#selection-section {
	margin-top: 37px;
}